*{
	@include box-sizing(border-box);
}

.grid-row{
	margin-left: -$gutter;
	overflow: hidden;
	@include clearfix;
}

.column{
	float: left;
}

.fourth{
	width: 25%;
	@include respond-to(small){
		width: 100%;
	}
}

.page-wrap{
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
	@include respond-to(medium){
		padding-left: $gutter;
		padding-right: $gutter;
	}
	@include respond-to(small){
		padding-left: $gutter;
		padding-right: $gutter;
	}
}
