<footer role="contentinfo">
	<div class="page-wrap">
		<ul class="social-media">
			<li><a href="http://www.twitter.com/brianjhanson" class="socialicon-twitter"></a></li>
			<li><a href="http://brianjhanson.tumblr.com" class="socialicon-tumblr"></a></li>
			<li><a href="http://dribbble.com/brianjhanson" class="socialicon-dribbble"></a></li>
			<li><a href="http://www.behance.net/brianhanson" class="socialicon-behance"></a></li>
			<li><a href="mailto:brian@brianhanson.net" class="icon-email">🔿</a></li>
		</ul>
		<a href="mailto:brian@brianhanson.net" class="btn large hire">Hire Me</a>
	</div>
	<div class="page-wrap">
		<p class="disclaim">© 2010-2013 Brian Hanson. Entypo pictograms by Daniel Bruce. Available at <a href="www.entypo.com">Entypo.com</a>.</p>
	</div>
</footer>
