//==============================================================================
// Big Intro
// Introductory paragraph on site
//
// Modifiers:
// -----------------------------------------------------------------------------
// - Modifier      : Modifier Description
//==============================================================================

// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------

.big-intro {
  -webkit-font-smoothing: antialiased;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.35;
}

// -----------------------------------------------------------------------------
// Elements
// -----------------------------------------------------------------------------

.big-intro__element {

}

// -----------------------------------------------------------------------------
// Modifiers
// -----------------------------------------------------------------------------

.big-intro--modifier {

}
