$img-path: '../images';
#grid-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(#{$img-path}/dots.svg);
  background-position: 50% 0;
  opacity: 0.2;
}
