//==============================================================================
// Section TItle
// Section title styles
//
// Modifiers:
// -----------------------------------------------------------------------------
// - Modifier      : Modifier Description
//==============================================================================

// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------

.section-title {
  font-family: Verdana, Geneva, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .65rem;
  letter-spacing: 1px;
}

// -----------------------------------------------------------------------------
// Elements
// -----------------------------------------------------------------------------

.section-title__element {

}

// -----------------------------------------------------------------------------
// Modifiers
// -----------------------------------------------------------------------------

.section-title--modifier {

}
