html, body {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #5883e6;
}

.logo {
  font-size: 28px;
}

.wrap {
  margin: 0 4vw;
}

header {
  padding: 1em 0;
  margin-bottom: 2em;
  border-bottom: 1px solid #98b4c0;
}

footer {
  margin-top: 4em;
  border-top: 1px solid #98b4c0;
  padding: 1em 0;
}

.entry-preview + .entry-preview {
  margin-top: 4em;
}

.entry-content > * + * {
  margin-top: 1em;
}

.entry-content > * {
  max-width: 60ch;
}

.entry-content > pre {
  max-width: 80ch;
}

pre {
  background-color: #f1f3f4;
  overflow-x: auto;
}

.entry-title {
  font-size: 22px;
}

.entry-content {
  margin-top: 1em;
}

.entry-date {
  font-family: monospace;
  font-size: 1.1em;
  color: #515c66;
}
