{% js '/dist/prism.js' %}

<article class="entry-body">
  <div class="container">
    <header class="entry-header">
      <time class="entry-date" datetime="{{ entry.postDate | atom }}">{{ entry.postDate | date }}</time>
      <h1 class="entry-title">
        {{ entry.title }}
      </h1>
    </header>
  </div>
  <div class="entry-content">
    {{ entry.markdown | md('gfm') }}
  </div>
</article>
