//==============================================================================
// Section
// Generic rows of spacing for the site
//
// Modifiers:
// -----------------------------------------------------------------------------
// - Modifier      : Modifier Description
//==============================================================================

// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------

.l-section {
  padding: space(3) 0;
}

// -----------------------------------------------------------------------------
// Elements
// -----------------------------------------------------------------------------

.l-section__title {
  border-bottom: 1px solid #000;
  padding-bottom: 4px;
  position: relative;

  &:after {
    content: '';
    width: space(3);
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -4px;
    display: block;
    background-color: #000;
  }
}

.l-section__body {
  margin-top: space();
}

.l-section__cta {
  margin-top: space(2);
}

// -----------------------------------------------------------------------------
// Modifiers
// -----------------------------------------------------------------------------

.l-section--accent {
  background-color: color(accent);
}

.l-section--intro {
  padding-bottom: space(4);
}
