//==============================================================================
// Section
// Generic rows of spacing for the site
//
// Modifiers:
// -----------------------------------------------------------------------------
// - Modifier      : Modifier Description
//==============================================================================

// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------

.l-section {
  padding: space(3) 0;
}

// -----------------------------------------------------------------------------
// Elements
// -----------------------------------------------------------------------------

.l-section__title {
  @include fancy-line;
}

.l-section__body {
  margin-top: space();
}

.l-section__cta {
  margin-top: space(2);
}

// -----------------------------------------------------------------------------
// Modifiers
// -----------------------------------------------------------------------------

.l-section--accent {
  background-color: color(accent);
}

.l-section--intro {
  padding-bottom: space(4);
}
