//==============================================================================
// Wrapper
// Keeps content the same width
//==============================================================================

// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------

.l-wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 8%;
}
