{% extends '_layout.twig' %}
{% set title = 'About | ' ~ siteName %}

{% block content %}
    <article class="entry-body">
        <div class="container">
            {{ entry.markdown | md('gfm') }}
        </div>
    </article>
{% endblock %}
