{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

 {% set bodyClass = bodyClass | default('home') %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
  <meta charset="utf-8" />
  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
  <link rel="home" href="{{ siteUrl }}" />
  <link rel="stylesheet" href="{{ siteUrl }}dist/styles/main.css">
  {% include '_partials/_typekit' %}
</head>

<body class="">
  {% include '_partials/_site-header' %}
  <div id="grid-overlay"></div>

  {% block content %}
    <div class="l-wrap">
      <div id="content"></div>
    </div>
  {% endblock %}

  {% include '_partials/_site-footer' %}
  <script src="{{ siteUrl }}dist/scripts/common.bundle.js"></script>
  <script src="{{ siteUrl }}dist/scripts/main.bundle.js"></script>
</body>
</html>
