
// Blog pages
.blog{
	position: relative;
}

.archive-year{
	margin-bottom: $base-spacing-unit;
	margin-bottom: $base-spacing-unit;
	border-bottom: 1px solid #ccc;
	@include font(body);
	font-weight: 300;
}

.archive .post-date{
	float: left;
	position: absolute;
	bottom: 1.2rem;
	@include respond-to(small){
		float: none;
		position: static;
	}
}

.blog .archive li{
	position: relative;
}

.blog .title{
	padding-left: 6.5rem;
	@include respond-to(small){
		padding-left: 0;
	}
}

.main-title{
	margin-top: 0;
}