// Footer

footer[role="contentinfo"]{
	border-top: 1px solid #ccc;
	padding: $base-spacing-unit 0;
	margin-top: $base-spacing-unit * 2;
}

.hire{
	@include respond-to(medium){
		float: right;
		position: absolute;
		top: -1em;
		right: $gutter;
	}
	@include respond-to(large){
		float: right;
		position: absolute;
		top: -1em;
		right: 0;
	}
}

.social-media{
	margin: 0 0 .5em 0;
	padding: 0;
	list-style: none;
	@include clearfix;
	@include respond-to(small){
		margin-bottom: 0;
	}
	li{
		float: left;
		margin-right: $gutter;
		a{
			display: block;
			float: left;
			width: 25%;
			font-size: 2.25em;
		}
	}
}

.disclaim{
	font-size: 12px;
	font-size: .75rem;
	line-height: 1.4;
	margin-bottom: 0;
}