//==============================================================================
// Type Mixins
// Mixins for styling type
//==============================================================================

@mixin p-section-title {
  font-family: Verdana, Geneva, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .65rem;
  letter-spacing: 1px;
}
