html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #f3f3fd;
}

body {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 100%;
  line-height: 1.6;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}
